# Node modules folder
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS system files
.DS_Store
Thumbs.db

# Build / output folders
dist/
build/

# Coverage reports
coverage/

# IDE / editor folders
.vscode/
.idea/

# npm package-lock
package-lock.json

# Optional: if you don't want to push package-lock.json
# Uncomment next line if you want to ignore it
# package-lock.json

